* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* .container {
  position: absolute;
} */
/* Part 1 */
#about {
  border: 1px solid rgb(209, 205, 205);
  border-radius: 5px;
  margin: 20px;
  padding: 2rem;
}

#about h2 {
  font-size: 20px;
  line-height: 28px;
  color: black;
  font-weight: 600;
  margin-bottom: 1rem;
}

#about p {
  font-size: 16px;
  line-height: 22px;
  color: #87898c;
  margin-bottom: 1.5rem;
}

#about button {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  color: black;
  line-height: 22px;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border: 1px solid black;
  border-radius: 20px;
}

/* Part 2 */
#questions {
  display: grid;
  padding: 1rem 1rem 2.5rem;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  margin-top: 4rem;
  gap: 3.5rem;
}

#question-item h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: black;
  margin-top: 2.25rem;
}

#question-item p {
  font-size: 16px;
  color: #87898c;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#questions button {
  font-size: 16px;
  font-weight: 600;
  color: black;
  line-height: 22px;
}

/* part 3 */
#download-container {
  position: relative;
  margin: auto;
  padding-top: 1.5rem;
  height: 398px;
}

#download {
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-top: 9rem;
  margin-right: 3rem;
  margin-left: 3rem;
  padding: 0px 3rem 0px 3rem;
  width: 92%;
  height: 65%;
  background-color: rgba(10, 104, 244, 1);
  border-radius: 60px 60px 0 0;
}

#download-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 254px;
}
#download-info h1 {
  font-size: 36px;
  line-height: 42px;
  color: white;
  font-weight: 500;
}

#download-info p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  color: white;
}

#download-info button {
  padding: 0.5rem 3rem;
  color: rgba(10, 104, 244, 1);
  font-weight: 600;
  text-align: center;
  background-color: white;
  border-radius: 0.5rem;
}

#ambasador {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 432px;
  height: 400px;
  margin: 0;
  padding: 0;
  bottom: 140px;
}

#amb1 {
  display: block;
  position: absolute;
  padding: 0;
  margin: auto;
  width: 0;
  height: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}
#amb2 {
  display: none;
}

#info-container {
  background-color: rgb(242, 242, 242);
  padding-bottom: 92px;
}

#inside-container {
  padding: 3rem 1.5rem;
}

#detail-info {
  display: grid;
  grid-template-columns: repeat(4, minmax(0px, 1fr));
  grid-template-rows: repeat(2, minmax(0px, 1fr));
  gap: 1.5rem;
}

#logo-container {
  display: flex;
  padding-top: 2rem;
  gap: 1rem;
}

#footer-title {
  font-size: 16px;
  line-height: 1.5rem;
  font-weight: 600;
  color: black;
}

#kantor-pusat,
#operasional {
  padding-top: 1.5rem;
  max-width: 20rem;
}

#kantor-pusat h1,
#operasional h1 {
  font-size: 14px;
  line-height: 1.25rem;
  font-weight: 600;
  color: black;
}

#kantor-pusat p,
#operasional p {
  font-size: 14px;
  line-height: 1.25rem;
  padding-top: 0.5rem;
  color: black;
  opacity: 0.75;
  white-space: pre-line;
  padding-right: 3rem;
}

#pintu-items,
#perusahaan-items {
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0px, 1fr));
  row-gap: 1.5rem;
}

#pintu-items a,
#perusahaan-items a {
  font-size: 14px;
  line-height: 1.25rem;
  color: black;
}

#logo-diawasi {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  align-items: flex-start;
}

#logo1 img {
  width: 163px;
  height: 41px;
  margin-top: 0.5rem;
  position: relative;
}
#logo2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
#logo2 img {
  height: 41px;
  margin-top: 1.25rem;
}

@media screen and (max-width: 768px) {
  /* Part 1 */
  #about {
    border: none;
    margin-top: 3.5rem;
    padding: 0 0 1.5rem 0;
  }

  #about h2 {
    font-size: 16px;
    line-height: 28px;
    color: black;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  #about p {
    font-size: 14px;
    line-height: 20px;
    color: rgb(153, 150, 150);
    margin-bottom: 1.5rem;
  }

  #about button {
    display: flex;
    font-size: 12px;
    font-weight: 600;
    color: black;
    line-height: 16px;
    align-items: center;
    padding: 0.5rem 1.5rem;
    border: 1px solid black;
    border-radius: 20px;
  }
  /* Part 2 */
  #questions {
    display: grid;
    padding: 0 1rem 5rem 1rem;
    grid-template-columns: repeat(1, minmax(0px, 1fr));
    margin-top: 2.5rem;
    gap: 3.5rem;
  }

  #question-item h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: black;
    margin-top: 1.5rem;
  }

  #question-item p {
    font-size: 16px;
    color: #87898c;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  #questions button {
    font-size: 16px;
    font-weight: 600;
    color: black;
    line-height: 22px;
  }

  #download-container {
    height: fit-content;
    width: 100%;
    margin: 0;
  }

  #download {
    position: relative;
    display: grid;
    justify-content: center;
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 0;
    width: auto;

    background-color: rgba(10, 104, 244, 1);
    border-radius: 60px 60px 0 0;
  }

  #download-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 254px;
  }

  #download-info h1 {
    font-size: 28px;
    line-height: 36px;
    color: white;
    font-weight: 500;
  }

  #download-info p {
    font-size: 14px;
    line-height: 18px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    color: white;
  }

  #download-info button {
    padding: 0.5rem 1rem;
    color: rgba(10, 104, 244, 1);
    width: 100%;
    font-weight: 600;
    text-align: center;
    background-color: white;
    border-radius: 0.5rem;
  }

  #ambasador {
    position: relative;
    display: inline-block;
    bottom: -85px;
  }

  #amb1 {
    display: none;
  }
  #amb2 {
    display: block;
    position: absolute;
    margin: auto;
  }

  #info-container {
    background-color: rgb(242, 242, 242);
    padding-bottom: 92px;
  }

  #inside-container {
    padding: 2rem 1.5rem;
  }

  #detail-info {
    display: grid;
    grid-template-columns: auto;
    gap: 3rem;
    /* width: 100%; */
  }

  #logo-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  #footer-title {
    font-size: 16px;
    line-height: 1.5rem;
    font-weight: 600;
    color: black;
  }

  .alamat-detail,
  .pintu-detail,
  .perusahaan-detail {
    display: none;
  }

  .alamat-detail.expanded,
  .pintu-detail.expanded,
  .perusahaan-detail.expanded {
    display: block;
  }

  #kantor-pusat,
  #operasional {
    padding-top: 1.5rem;
    max-width: 20rem;
  }

  #kantor-pusat h1,
  #operasional h1 {
    font-size: 14px;
    line-height: 1.25rem;
    font-weight: 600;
    color: black;
  }

  #kantor-pusat p,
  #operasional p {
    font-size: 14px;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    color: black;
    opacity: 0.75;
    white-space: pre-line;
    padding-right: 3rem;
  }

  #pintu-items,
  #perusahaan-items {
    padding-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0px, 1fr));
    row-gap: 1.5rem;
  }

  #pintu-items a,
  #perusahaan-items a {
    font-size: 14px;
    line-height: 1.25rem;
    color: black;
  }

  #logo-diawasi {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    align-items: flex-start;
  }

  #logo1 img {
    width: 163px;
    height: 41px;
    margin-top: 0.5rem;
    position: relative;
  }
  #logo2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  #logo2 img {
    height: 41px;
    margin-top: 1.25rem;
  }
}
