.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 2rem 1.5rem;
  background-color: #fff;
  color: black;
}

.logo {
  text-decoration: none;
  color: black;
  margin-right: auto;
  padding: 2rem 0 0 0;
}

.navigation-menu {
  margin: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
  gap: 50px;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.navigation-links ul {
  display: none;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 77px);
  background-color: #fff;
}
.navigation-links li {
  margin: 0;
  padding: 25px 15px 25px 15px;
}

.navigation-links li a {
  display: flex;
  padding: 3px 1rem 3px 1rem;
  column-gap: 1rem;
}

.navigation-links.expanded ul {
  display: block;
  width: 33%;
  height: auto;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.15), 5px 5px 5px rgba(0, 0, 0, 0.15);
}

.navigation-links h3 {
  font-size: 1rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.navigation-links p {
  font-size: 12px;
}
/* .navigation-links ul {
  display: none;
  padding: 0;
}

.navigation-links li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-links li a {
  text-decoration: none;
  display: block;
  width: 100%;
} */

.navigation-menu li a:hover {
  color: rgb(100, 99, 99);
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navigation-menu ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: #fff;
  }
  .navigation-menu li {
    margin: 0;
    padding: 25px 15px 25px 15px;
    border-bottom: 1px solid rgb(230, 229, 229);
  }
  .navigation-menu.expanded ul {
    display: block;
    /* overflow: scroll; */
  }
  .navigation-links ul {
    display: none;
    position: relative;
    top: 10px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: inherit;
    background-color: #fff;
  }
  .navigation-links li {
    border-bottom: none;
  }
  .navigation-links.expanded ul {
    display: none;
    width: 100%;
  }
}
