caption {
  display: none;
}

table {
  overflow-x: auto;
  width: 100%;
  border-collapse: separate;
  text-indent: 0px;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 0.5rem;
  /* border-spacing: 2px; */
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-bottom: 1px solid rgb(213, 213, 213);
}

tr th {
  padding: 1.25rem 1.25rem 1.25rem 75px;
  /* border-bottom-width: 1px; */
}

th p {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #929396;
}

tbody {
  display: table-header-group;
}

tbody tr {
  display: table-row;
  font-size: 16px;
  line-height: 22px;
}
